---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7740689107675714"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

{% include header-en.html %}

<main>

  <section class="hero">
    <h1>Contact</h1>
    <p>If you have any questions, feedback, or inquiries about the applications, feel free to contact me using the information below.</p>
  </section>

  <h2>Email</h2>
  <div class="content-section">
    <p>You can reach me at:</p>
    <p style="font-size: 1.2em; font-weight: bold;">
      <a href="mailto:siguchi09@gmail.com">siguchi09@gmail.com</a>
    </p>
  </div>

  <h2>GitHub</h2>
  <div class="content-section">
    <p>You can also check my repositories and projects on GitHub:</p>
    <p style="font-size: 1.1em; font-weight: bold;">
      <a href="https://github.com/s-iguchi09" target="_blank">https://github.com/s-iguchi09</a>
    </p>
  </div>

</main>

{% include footer-en.html %}

</body>
</html>